doctype html
html
  head
    title Book List
  body
    h1 Book List
    if books.length > 0
      ul
        each book in books
          li
            span #{book.title} - #{book.author} (Genre: #{book.genre}, Published Year: #{book.published_year}, Book Id: #{book._id})
            a(href=`https://siennastupendousupgrades.adarsh-2425.repl.co/books/update/${book._id}`) Update
    else
      p No books available.

    //Anchor link to the Add Book Page
    a(href="https://siennastupendousupgrades.adarsh-2425.repl.co/books/add") Add Book
